.navbar-header{
	background:#2ecc71;
}
.collapse{
	background:#2ecc71;
}
.navbar-inverse .navbar-brand{
	color:#FFF;
}
.navbar-inverse .navbar-nav > li > a{
	color:#cde6c7;
}
.badge{
	background-color:#00ae9d;
}
.side-nav{
	background-color:#122e29;	
}